<% include ./partials/header %>
<h1>Login using... </h1>
    <a  href='/auth/google'>
            <button class="ui google plus button" >
                <i class="google icon"></i>
                Google
            </button>
    </a>
    
